{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/emplist">Employees</a></li>
            <li><a href="/managerlist">Managers</a></li>
        </ul>
    </nav>
    {% block content %}
    <!--the blocked named content is reserved for child-->
    {% endblock %}
    <!-- <h1 style="color:red">Common Content</h1> -->
    {% block content2 %}
    <!--Extra Content is from Child Template-->
    {% endblock %}
    <footer>
        All rights reserved &copy hmg 2025
    </footer>
</body>
</html>