{% extends 'base.html' %}
{% block title %} Employees {% endblock %}
{% block content %}
    <h1>Employee Details</h1>
    {% if count > 0 %}
    <h2>Fetched {{count}} employee details</h2>
    {% else %}
    <h2> No Records Available </h2>
    {% endif %}
    <h2>All records displayed below</h2>
    <table border="1">
        <tr><th>Name</th><th>Desg</th><th>Salary</th><th>Action</th></tr>
        {% for emp in records %}
        <tr>
            <td>{{emp.name}}</td>
            <td>{{emp.desg}}</td>
            <td>{{emp.salary}}</td>
            <td><a class="del-btn" href="/delete/{{emp.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}