{% extends 'base.html' %}
{% block title %} Employees {% endblock %}
{% block content %}
    <h1>Employee Details</h1>
    {% if count > 0 %}
    <h2>Fetched {{count}} employee details</h2>
    {% else %}
    <h2> No Records Available </h2>
    {% endif %}
    <h2>All records displayed below</h2>
    <table border="1">
        <tr><th>Name</th><th>Desg</th><th>Salary</th><th colspan="2">Action</th></tr>
        {% for emp in records %}
        <tr>
            <td>{{emp.name}}</td>
            <td>{{emp.desg}}</td>
            <td>{{emp.salary}}</td>
            <td><a class="del-btn" href="/delete/{{emp.id}}" onclick="return confirm('Do you want to delete this record?')">Delete</a></td>
            <td><a class="up-btn" href="/update/{{emp.id}}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <br>
    <a class="add-btn" href="emp/add"> Add New Employee </a>
{% endblock %}